.App{
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
  color: #F4F4F4;
}

.Counter{
  width: 600px;
  height:150px;
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.Display{
  height: 300px;
  width:600px;
  background: #17C6FE;
  color: #1F1F1F;
  
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Button{
  height:100%;
  width:200px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #2E2E2E;
  box-shadow: 0.2px 0px 0px #F4F4F4;
  border: 0.2px solid #F4F4F4;
}

.Control{
  font-size: 24px;
  line-height: 31px;
}

.Settings{
  height:50px;
  width:600px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  font-size: 24px;
  line-height: 31px;
  color: #2E2E2E;
}

a:visited{
  color:#2E2E2E;
}

.Modal{
  position:absolute;
  background: #F4F4F4;
  border-radius: 5px;
  width: 500px;
  height: 200px;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;

  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2E2E2E;
  
  padding: '20px';
}

.timer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3px;
}

.modal-button{
  background: #2E2E2E;
  color:#F4F4F4;
  padding: 5px;
  border-radius: 5px;
  font-family: 'Audiowide';
  margin: 5px;
  cursor:pointer;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 10px;
}

.settings-item{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 18px;
}